h1 {
  text-align: center;
  color: white;
  font-size: 3rem;
}

#exotic_animals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

figure {
  padding: 1rem;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}

figcaption {
  display: none;
  padding: 1rem;
  width: 20% ;
  border-radius: 2rem;
  background-color: white;
}


img {
  width: 100%;
}

body {
  background-color: #332233;
}


